@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

#appLogo{
    display: flex;
    justify-content: center;
    padding: 80px 0px 40px 0px;
}

#appLogo img{
    width: 80px;
}

#appLaunchDesc h1{
    font-size: 42px;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}

#appLaunchDesc > h1 > span{
    font-weight: 700;
    color: black;
}

#appLaunchDesc p{
    padding: 30px 0px;
}

form{
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 360px;
    height: 55px;
    border-radius: 40px;
    border: 1px solid hsla(223, 100%, 88%, 0.8);
    padding: 20px 20px 20px 18px;
    margin-top: 16px;
}

::placeholder {
    color: hsla(0, 0%, 59%, 0.4);
  }

button{
    height: 55px;
    width: 180px;
    background-color: hsl(223, 87%, 63%);
    border-radius: 40px;
    border: none;
    color: white;
    box-shadow: 0px 4px 12px hsla(223, 100%, 72%, 0.5);
    margin-left: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s ease;
}

button:hover{
    background-color: hsl(223, 100%, 72%);
}

button:active{
    background-color: hsl(223, 87%, 63%);
}

label{
    visibility: hidden;
    color: hsl(354, 100%, 66%);
    display: flex;
    text-align: start;
    width: 300px;
    margin-left: 20px;
    font-size: 10px;
    padding-top: 8px;
    font-weight: 400;
}

#dashboard{
    width: 500px;
    height: 320px;
    margin: 60px 0px 50px 0px;
}

#dashboard img{
    width: 100%;
    object-fit: contain;
}

#socialmedia{
    display: flex;
    justify-content: center;
    height: 32px;
}

#socialmedia div{
    border-radius: 50px;
    border:1px solid hsla(0, 0%, 59%, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0px 6px;
    width: 32px;
}

#socialmedia div i{
    font-size: 12px;
    color: hsl(223, 87%, 63%);
}

footer{
    color: hsla(0, 0%, 59%, 0.6);
    font-size: 12px;
    padding: 30px 0px;
}

.button-error{
    margin-top: 10px;
}



@media(max-width: 410px){

    #appLogo img{
        width: 60px;
    }

    form{
        display: flex;
        flex-direction: column;
        
    }

    .input-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #dashboard{
        width: 100%;
        margin-bottom: 0px;
    }

    #dashboard img{
        width: 85%;
        object-fit: contain;
    }

    #appLaunchDesc h1{
        font-size: 28px;
    }

    #appLaunchDesc p{
        font-size: 14px;
    }

    input{
        width: 75%;
        height: 46px;
    }

    button{
        width: 75%;
        height: 46px;
        margin: 0px 0px 10px 0px;
    }
    
    label{
        width: 45%;
        align-items: center;
    }

    .active{
        padding-bottom: 10px;
    }
}